<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:100,400" rel="stylesheet">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Brendan Mullins</title>
    <meta name="Description" content="Brendan Mullins is a web developer base in Salzburg">
  </head>
  <body style="background: black; min-height: 100vh; color: white">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
