<template>
  <div class="about">
    <div class="text" v-html="text"></div>
  </div>
</template>

<script>
export default {
  name: 'About',
  data: () => ({
    text: require('./About.md')
  })
}
</script>
