<template>
  <div class="os">
    <div class="text">
      <h1>Contact</h1>
      <p>
        To get in contact with me you can send me a email at <a href="mailto:mail@brendan-mullins.com">mail@brendan-mullins.com</a> or just send me a message on <a href="https://mobile.twitter.com/log_brendan">Twitter</a>, and here is my <a href="https://www.linkedin.com/in/brendan-mullins-997681134/">linkedIn</a> if thats what you were looking for. If you want to talk to me personally here is a number that you can call: <i>0043 665 65126 221</i> or add me on whatsapp
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact'
}
</script>

<style lang="scss">
.text {
  i {
    color: var(--theme-accent);
    opacity: .7;
  }
}
</style>
