<template>
  <div class="os">
    <div class="text" v-html="text"></div>
  </div>
</template>

<script>
export default {
  name: 'OpenSource',
  data: () => ({
    text: require('./OpenSource.md')
  })
}
</script>
