<template>
  <div class="skills">
    <div class="text">
      <h1>Skills</h1>
      <h2>Frontend / Backend</h2>
      <div tabindex="0" class="tag" v-for="t of fe" :key="`s_${t}`">{{t[0]}}
        <stars :stars="t[1]" />
      </div>
      <h2>Other</h2>
      <div tabindex="0" class="tag" v-for="t of other" :key="`o_${t}`">{{t[0]}}
        <stars :stars="t[1]" />
      </div>
    </div>
  </div>
</template>

<script>
import Stars from '../components/Stars'
export default {
  name: 'Skills',
  components: {
    Stars
  },
  data: () => ({
    fe: [
      ['Vue.js', 5],
      ['Polymer', 4],
      ['SPA', 4],
      ['RESTful', 5],
      ['GraphQL', 3],
      ['Angular', 2],
      ['PWA', 4],
      ['SSR', 4],
      ['Nuxt.js', 4],
      ['jQuery', 5],
      ['ES6/7', 5],
      ['TypeScript', 4],
      ['TDD', 3],
      ['Jest', 3],
      ['SASS/SCSS', 5],
      ['Stylus', 3],
      ['HTML5', 5],
      ['CSS3', 5],
      ['CSS4', 4],
      ['Webpack', 5],
      ['Gulp', 5],
      ['Grunt', 4],
      ['React', 3],
      ['Preact', 2],
      ['Performance', 4],
      ['Accessibility', 4],
      ['Animations', 4],
      ['UX', 5],
      ['Node.js', 5],
      ['Sails.js', 3],
      ['PHP', 3],
      ['WordPress', 4],
      ['PostgresSQL', 2],
      ['MySQL', 3],
      ['S3', 3],
      ['Shopify', 4],
      ['Rust', 1],
      ['WebAssembly', 1],
      ['Python', 2],
      ['Linux', 4],
      ['Docker', 3]
    ],
    other: [
      ['German', 5],
      ['English', 5],
      ['Git', 4],
      ['Photoshop', 3],
      ['Illustrator', 3],
      ['Gimp', 3],
      ['Inkscape', 3],
      ['Zeplin', 5]
    ]
  })
}
</script>

<style lang="scss">
.tag {
  display: inline-block;
  padding: .2em .4em;
  color: white;
  position: relative;
  cursor: default;
  transition: box-shadow .2s;
  outline: none;
  // border-radius: 6px;

  @media (hover: hover) {
    .stars {
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-radius: 6px;
      padding: .1em .4em .0em;
      opacity: 0;
      pointer-events: none;
      background: black;
      box-shadow: 0 0 0 2px var(--theme-accent);
      transform: translateX(-50%) translateY(1em);
      transition: opacity .2s, transform .2s;
      transition-delay: .1s;
    }

    &:hover,
    &:focus {
      // background: white;
      // box-shadow: inset 0 0 0 1px var(--theme-accent);
      .stars {
        opacity: .9;
        transform: translateX(-50%) translateY(-.2em);
      }
    }
  }
}
</style>
