<template>
  <div class="center">
    <div class="intro">
      <div class="picture">
        <picture>
          <source media="(min-width: 440px)" srcset="@/assets/brendan_m.jpg">
          <source media="(min-width: 0px)" srcset="@/assets/brendan_s.jpg,
            @/assets/brendan_m.jpg 1.5x">
          <img src="@/assets/brendan_m.jpg" alt="Portrait of Brendan Mullins" style="width:auto;">
        </picture>
      </div>
      <h2 class="name">Brendan Mullins</h2>
      <h1 class="title">
        <span class="title-flip">
          <div :class="['title-flip__item', {
            'title-flip__item--in': i === activeIndex,
            'title-flip__item--out': i !== activeIndex,
          }]"
            v-for="(t, i) in titles" :key="t"
          >
            {{t}}
          </div>
        </span>
        Developer
       </h1>
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
  data: () => ({
    titles: [
      'Web',
      'JavaScript',
      'Full Stack',
      'Application',
      'Frontend',
      'UX/UI',
      'node.js'
    ],
    activeIndex: 0
  }),
  beforeDestroy () {
    clearInterval(this.__to)
  },
  mounted () {
    this.__to = setInterval(() => {
      let ne = this.activeIndex + 1
      if (ne === this.titles.length) {
        ne = 0
      }
      this.activeIndex = ne
    }, 1200)
  }
}
</script>

<style lang="scss">
.center {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
.picture {
  width: 12em;
  height: 12em;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  border-radius: 50%;
  transition: box-shadow .3s;
  box-shadow: -2rem -3rem 0 0 rgba(0,0,0,.97),
              -2rem -3rem 0 2px white;

  img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
  }

  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   border: 2px solid var(--theme-accent, #ff3);
  //   transform: translate(-2rem, -3rem);
  //   border-radius: 50%;
  //   z-index: -1;
  //   backface-visibility: hidden;
  // }

  &:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,.97),
                0 0 0 2px white,
                0 0 10em -.3em var(--theme-accent);
    // &::after {
    //   border: 2px solid white;
    //   transform: translate(-2px, -2px);
    // }
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 5em 0 0;
  // width: calc(80vw - var(--theme-nav-width, 12em));
}
.name {
  margin: 2em 0 0;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.title {
  margin: 3rem 0 4rem;
  font-size: 3.9em;
  text-align: center;
  letter-spacing: 0.3em;
  font-weight: 200;
  text-transform: uppercase;
  text-shadow: -0.3rem -0.4rem 0 var(--theme-accent);
  transition: text-shadow .3s;
  width: 100%;

  &:hover {
    text-shadow: 0 0 0 white;
  }

  &-flip {
    display: block;
    position: relative;
    perspective: 900;

    &__item {
      backface-visibility: hidden;
      transition: all .4s;
      top: 0;
      width: 100%;
      text-align: center;
      transform-origin: 50% 55%;
      transform: translateZ(1px);
      opacity: 1;

      &--out {
        position: absolute;
        opacity: 0;
        transform: rotateX(180deg) translateZ(1px);
      }
    }
  }
}
</style>
