<template>
  <svg
    :class="['pointer', {
      'pointer--hidden': hide
    }]"
    aria-hidden="true"
    viewBox="0 0 12 12"
    height="20"
    :style="svgStyle"
    width="20">
      <circle
        r="4"
        style="stroke-width:1.2"
        cy="6"
        cx="6"
      />
  </svg>
</template>

<script>
export default {
  data: () => ({
    pos: { x: 0, y: 0 },
    hide: true
  }),

  computed: {
    svgStyle () {
      return {
        transform: `translate(${this.pos.x - 10}px, ${this.pos.y - 10}px)`
      }
    }
  },

  methods: {
    setPos ({ clientY: y, clientX: x }) {
      this.pos = {
        y, x
      }
    }
  },

  mounted () {
    window.addEventListener('mousemove', this.setPos)
    window.document.addEventListener('mouseenter', () => (this.hide = false))
    window.document.addEventListener('mouseleave', () => (this.hide = true))
  }
}
</script>

<style lang="scss">
* {
  cursor: none;
}
.pointer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow: visible;
  pointer-events: none;
  transition: opacity .2s, stroke .1s;
  stroke: #efefef;
  transform-origin: 50% 50%;

  circle {
    transition: transform .2s, opacity .1s;
    transform-origin: 50% 50%;
    fill: #0007;
  }

  &--hidden {
    opacity: 0;
  }

  .hover & {
    circle {
      transform: scale(1.4);
      stroke: var(--theme-accent, #ffe);
      opacity: 1;
    }
  }
}
</style>
