<template>
  <span @mouseout="remove" @mouseover="add"><slot></slot></span>
</template>

<script>
export default {
  methods: {
    remove () {
      window.document.body.classList.remove('hover')
    },
    add () {
      window.document.body.classList.add('hover')
    }
  }
}
</script>
