<template>
  <div class="nav">
    <div :class="['nav__items']">
      <router-link tabindex="0" to="/">Welcome</router-link>
      <router-link tabindex="0" to="/about">About</router-link>
      <router-link tabindex="0" to="/skills">Skills</router-link>
      <router-link tabindex="0" to="/open-source">Open Source</router-link>
      <router-link tabindex="0" to="/contact">Contact</router-link>
    </div>
    <div class="nav__links">
      <a tabindex="0" rel="noreferrer" title="My GitHub" href="https://github.com/jsnanigans" target="_blank">
        <icon-github />
      </a>
      <a tabindex="0" rel="noreferrer" title="My Gitlab" href="https://gitlab.com/jsnanigans" target="_blank">
        <icon-gitlab />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Nav',
  components: {
    IconGithub: () => import('../icons/github-brands'),
    IconGitlab: () => import('../icons/gitlab-brands')
  }
}
</script>

<style lang="scss">
.nav {
  // position: fixed;
  width: var(--theme-nav-width, 12em);
  display: flex;
  box-sizing: border-box;
  grid-area: navigation;
  z-index: 30;
  backface-visibility: hidden;
  height: var(--theme-nav-height);
  overflow: auto;
  // margin-left: 5rem;

  @media (max-width: 800px) {
    width: 100vw;
  }
  @media (min-width: 801px) {
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 13vh;
  }

  a {
    padding: .5em 1em .4em;
    text-transform: uppercase;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--theme-text-color);
    font-weight: 400;
    letter-spacing: 0.14em;
    text-decoration: none;
    transition-property: box-shadow, color, text-shadow;
    transition-duration: .4s;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    outline: none;
    box-shadow: inset 0 -2em 0 0 black, inset 0 -2em 0 0 transparent;
    // box-shadow: .2em .2em 0 1px red;
    text-shadow: 0 0 white;
    // text-shadow: .3em .3em white;

    &.router-link-exact-active {
      box-shadow: inset 0 1em 0 0 black,
                  inset 0 -.04em 0 0 white;
    }

   &:hover,
    &.router-link-exact-active,
    &:focus {
      text-shadow: -.12em -.12em var(--theme-accent);
      outline: none;
      color: rgba(255,255,255,.8);
    }

    @media (max-width: 800px) {
      height: var(--theme-nav-height);
      padding: 0 1.6rem;
    }
  }

  &__links {
    height: 1.4em;
    margin: .6em 0 0;
    a {
      padding: .5em .3em .16em 1em;
      display: inline-block;
      // width: calc(var(--theme-nav-width, 6em));

      svg {
        width: 1.1em;
      }

      &:hover,
      &.router-link-exact-active,
      &:focus {
        color: var(--theme-accent);
      }
    }
    @media (max-width: 800px) {
      height: var(--theme-nav-height);
      margin: 0;
      display: flex;

      a {
        padding: 0 .8em .2em;
        display: flex;
        align-items: center;
      }
    }
  }

  &__items {
    @media (max-width: 800px) {
      display: flex;
      overflow-y: hidden;
    }
  }
  &__links {
    @media (max-width: 800px) {
      border-left: 1px solid rgba(255,255,255,.4);
    }
  }
}
</style>
