<template>
  <div class="stars" :aria-label="`${stars} out of 5`">
    <div class="star" v-for="i in 5" :key="i">
      <span class="on" v-if="i <= stars">★</span>
      <span class="off" v-else>☆</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stars: Number
  }
}
</script>

<style lang="scss">
.stars {
  position: relative;
  display: flex;

  .star {
    .on {
      color: var(--theme-accent);
    }
    .off {
      opacity: .4;
    }
  }
}
</style>
