<template>
  <div id="app">
    <!-- <cursor-circle /> -->
    <div id="content" tabindex="0">
      <transition name="page">
        <router-view class="route" />
      </transition>
    </div>
    <navigation />
  </div>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    hideFocus: false
  }),
  components: {
    Navigation: () => import('./components/Navigation')
  }
}
</script>

<style lang="scss">
:root {
  --theme-bg: #000;
  --theme-accent: #ff3;
  --theme-text-color: #fff;
  --theme-nav-width: 12em;
  --theme-nav-height: 5rem;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: var(--theme-bg, #000);
}

::-webkit-scrollbar-thumb {
  background: var(--theme-accent);
}

$ease: cubic-bezier(0.19, 1, 0.22, 1);
.page-enter-active {
  animation: page-in $ease .5s;
}
.page-leave-active {
  animation: page-out .5s $ease;
}

@keyframes page-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20%) scale(.9);
    opacity: 0;
  }
}
@keyframes page-in {
  0% {
    transform: translateX(-20%) scale(.9);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

html {
  font-size: 18px;
  @media (max-width: 800px) {
    font-size: 2.6vw;
  }
}

body {
  margin: 0;
  background: var(--theme-background, #000);
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

// .part {
//   margin-top: 10vh;
//   min-height: 80vh;
// }

.text {
  padding: 2rem;
  // margin: 10rem 2rem 10rem 2rem;
  margin: 1rem 1rem 3rem;
  letter-spacing: 0.03em;
  font-size: 1.4em;
  line-height: 1.4;
  position: relative;
  // text-align: center;
  // top: 50vh;

  p {
    margin: 1em 0;
  }
  h2 {
    margin: 1rem 0 .5rem;
    font-size: 2.4em;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: -0.2rem -0.3rem 0 var(--theme-accent);
    transition: text-shadow .3s;

    &:hover {
      text-shadow: 0 0 0 white;
    }
  }
  h1 {
    margin: 0 0 1rem;
    font-size: 3.4em;
    margin-top: -.1em;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: -0.3rem -0.4rem 0 var(--theme-accent);
    transition: text-shadow .3s;

    &:hover {
      text-shadow: 0 0 0 white;
    }
  }
  a {
    color: var(--theme-accent, white);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 -1em 0 0 black, inset 0 -1em 0 0 transparent;
    line-height: 1;
    z-index: 3;
    transition: box-shadow .4s;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: inset 0 .96em 0 0 black,
                  inset 0 -1em 0 0 var(--theme-accent);
    }

  }
  @media (min-width: 801px) {
    font-size: 1.3em;
  }
}

#app {
  font-family: 'Alegreya Sans', 'Avenir', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: grid;
  grid-template-areas: 'p0 navigation content';
  grid-template-columns: 20px 215px 1fr;
  color: var(--theme-text-color, #fff);
  width: 1200px;
  margin: 0 auto;
  max-width: 100vw;
  position: relative;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: var(--theme-nav-height) 1fr;
    grid-template-areas: 'navigation' 'content';
  }
}

#content {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  grid-area: content;
  transition-property: margin, width, padding;
  transition-duration: .1s;
  box-sizing: border-box;
  background: rgba(255,255,255,.03);
  position: relative;
  outline: none;

  .route {
    transform-origin: -20% 45%;
    width: 100%;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
  }

  @media (max-width: 800px) {
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - var(--theme-nav-height));
  }
  @media (min-width: 801px) {
    padding-right: 1rem;
    height: 100vh;
  }
}
</style>
